* {
  margin: 0;
}
body {
  background-color: #f1f1ef;
  font-family: sans-serif;
}
header {
  margin: 0;
  width: 100%;
  margin-bottom: 270px;
}
.main_nav {
  background-color: #603c26;
  color: whitesmoke;
  /* font-size: 20px; */
  height: 80px;
  display: flex;
}
.logo img {
  /* font-family: "Brush Script MT", cursive; */
  height:80px;
  width:255px;
  /* font-family: "Trattatello", fantasy; */
}
.nav_container {
  margin: auto;
  width: 80%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.nav_container a {
  text-decoration: none;
  color: white;
}
.nav_container span{
  padding-left: 40px;
  padding-right: 40px;
}

.main_image {
  margin: 0;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
}
.main_image .first_image {
  min-width: 100%;
  filter: brightness(50%);
}
.main_image .main_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 50px;
}
.main_caption .span_heading {
  font-size: 50px;
}
.main_caption .span_subheading {
  font-size: 17px;
}
.sub_image {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 550px;
  width: 100%;
  align-items: center;
}
.overlay_image {
  width: 25%;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
}
.overlay_image a{
  text-decoration: none;
  color: white;
}
.overlay_image .overlay_desc{
  height:330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured{
  background-color: rgb(149, 199, 149);
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  font-size: 15px;
}
.dish_name{
  font-size: 27px;
  /* padding: 10px; */
  margin: 20px;
}
.overlay_image_first {
  height: 342px;
  border-radius: 3% 0 0 3%;
}
.sub_image_first {
  height: 342px;
  width: 338px;
  border-radius: 3% 0 0 3%;
  filter: brightness(80%);
}
.overlay_image_second {
  height: 358px;
  border-radius: 3%;
}
.sub_image_second {
  height: 358px;
  border-radius: 3%;
  width: 338px;
  filter: brightness(80%);
}
.overlay_image_third {
  height: 342px;
  border-radius: 0 3% 3% 0;
}
.sub_image_third {
  height: 342px;
  border-radius: 0 3% 3% 0;
  width: 338px;
  filter: brightness(80%);
}
.category_section {
  background-color: white;
  padding-bottom: 100px;
}
.categories {
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.categories h2 {
  color: aquamarine;
  font-size: 35px;
  margin: 50px 0 20px 0;
}
.categories .categories_subhead{
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
  width:40%;
  text-align: center;
}

.image_category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6";
  gap: 30px;
  padding: 15px;
  margin: auto;
  width: 80%;
  justify-items: center;
}
.boxes {
  width: 70%;
  height: 150px;
  border-radius: 5%;
  position: relative;
  /* background-color: antiquewhite; */
}
.overlay_box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  filter: brightness(100%);
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  border-radius: 0 0 10% 10%;
}
.overlay_box span {
  font-size: 27px;
  padding-left: 10px;

  color: white;
  /* opacity: 0; */
}
.overlay_box a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
  /* opacity: 0; */
}
/* .boxes:hover .overlay_box {
  opacity: 1;
} */
.box1 {
  grid-area: box1;
  background-image: url("../images/breakfast.jpg");
  background-size: 238px 150px;
  filter: brightness(90%);
}
.box2 {
  grid-area: box2;
  background-image: url("../images/salad.jpg");
  background-size: 238px 150px;
  filter: contrast(90%);
}
.box3 {
  grid-area: box3;
  background-image: url("../images/apetizer.jpg");
  background-size: 238px 150px;
  filter: brightness(90%);
}
.box4 {
  grid-area: box4;
  background-image: url("../images/soup.jpg");
  background-size: 238px 150px;
  filter: brightness(90%);
}
.box5 {
  grid-area: box5;
  background-image: url("../images/dessert.jpeg");
  background-size: 238px 150px;
  filter: brightness(90%);
}
.box6 {
  grid-area: box6;
  background-image: url("../images/maindish.jpg");
  background-size: 238px 150px;
  filter: brightness(90%);
}
 .subscription{
  width: 100%;
  height:600px;
}
.subscription img{
  width: 100%;
  height:650px !important;
}
.newsletter_box{
  background-color: rgba(255,255,255,.5);
  text-align: left;
  padding:50px 50px;
  border-radius: 4px;
}
.newsletter_box .input_box{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.subscribe_button{
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
footer .container{
  margin:auto;
  width: 80%;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}
.footer_categories b{
  font-size: 20px;
}
footer .footer_categories ul{
  list-style: none;
  padding-inline-start: 0px;
  padding-top: 20px;
  line-height: 20px;
}
.copyright{
  padding: 10px;
  text-align: center;
}
